<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/login.css">

    <div class="card m-auto mt-5 p-3">
        <div class="card-body text-center">
            <h1 class="card-title">Login</h1>
            <h6 class="card-subtitle mb-2 text-muted">Login to unlock more</h6>

            <form action="/login" method="POST" novalidate class="needs-validation">
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="username" id="usename" aria-describedby="emailHelp"
                        placeholder="Enter username" required>
                    <div class="invalid-feedback text-end">
                        Required!
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                        required>
                    <div class="invalid-feedback text-end">
                        Required!
                    </div>
                </div>
                <button type="submit" class=" btn btn-primary mb-4 mt-3 mx-auto col-6"
                    style="border-radius: 25px;">Login</button>
            </form>

            <hr>

            <h6 class="card-subtitle mb-2 mt-4 text-muted">Don't have an account?</h6>
            <a href="/register" class="btn btn-success mb-2 mt-2 mx-auto col-4"
                style="border-radius: 25px;">Register</a>
            <h6 class="mb-2 mt-2 text-muted">Don't want to?</h6> 
            <h7 class="mb-2 text-muted">Use Trial with password: trial</h7>
        </div>

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()</script>