<% layout('/layouts/boilerplate') -%>
    <link rel="stylesheet" href="/stylesheets/new.css">

    <div class="row mt-3">
        <div class="col-lg-6 mx-auto card">
            <img src="/cookie.jpg" class="card-img-top mt-3 image" alt="here">
            <form action="/product" method="POST" novalidate class="needs-validation card-body"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label label-title" for="title">Name</label>
                    <input class="form-control" type="text" name="Product[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Required!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label label-title" for="location">Location</label>
                    <input class="form-control" type="text" name="Product[location]" id="location"
                        placeholder="City, Country" required>
                    <div class="invalid-feedback">
                        Required!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label label-title" for="image">Pictures</label>
                    <input class="form-control" type="file" name="Product[image]" id="image" multiple>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" name="Product[image]" id="image">
                </div> -->
                <div class="mb-3">
                    <label class="form-label label-title" for="description">Description</label>
                    <textarea class="form-control" name="Product[description]" id="description" cols="10" rows="2"
                        required></textarea>
                    <div class="invalid-feedback">
                        Required!
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label label-title" for="cost">Cost</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="border-radius: 20% 0% 0% 20%;">€</span>
                        </div>
                        <input type="number" class="form-control" name="Product[price]" style="border-radius: 0px 10px 10px 0px;" id="cost" step=".01" placeholder="0" required>
                        <div class="invalid-feedback">
                            Required!
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" style="width: 10rem;">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()</script>