@media (min-width: 1400px) {
    .product-image {
        display: block;
        max-width: 320px;
        width: auto;
        height: auto;
        border-radius: 1%;
        border: 1px solid rgb(0, 0, 0);
    }
}



.carousel-inner {
    margin-top: 8vh;
    margin-bottom: 2vh;
    height: 75vh;
    border-radius: 1%;
}


.carousel-image {
    height: 75vh;
    max-width: 100%;
    max-height: 100%;
    height: auto; 
    width: auto;
    
}

#arrowdown {
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-bottom: 5vh;

}
  #arrowdown .scroll {
    animation: scroll-down 3s infinite; 
  }
  
  @keyframes scroll-down {
    0%, 100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    35% {
      transform: translateY(1rem);
      opacity: 0;
    }
    70% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }


.product-image {
    display: block;
    border-radius: 1%;
    max-height: 213px;
    height: auto; 
    width: auto;
    max-width: 100%;
}

@media (max-width:1000px) {
    #carouselMain{
        display: none;
    }
    #arrowdown{
        display: none;
    }
}