.hidden{
  display: none;
}

.show{
  display: block;
}

/* .displayTypes{
  position: sticky;
  top: 58px;
  z-index: 2;
} */

@media (min-width: 1400px) {
    .product-image {
        display: block;
        max-width: 320px;
        width: auto;
        height: auto;
        border-radius: 1%;
        border: 1px solid rgb(0, 0, 0);
    }
}



.carousel-inner {
    margin-top: 3vh;
    margin-bottom: 2vh;
    height: 75vh;
    border-radius: 1%;

}

.image-div{
  height: 75vh;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
}


#carousel-image {
    max-height: 150%;
    height: 120%; 
    width: auto;
}

#arrowdown {
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-bottom: 5vh;

}
  #arrowdown .scroll {
    animation: scroll-down 3s infinite; 
  }
  
  @keyframes scroll-down {
    0%, 100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    35% {
      transform: translateY(1rem);
      opacity: 0;
    }
    70% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }


.product-image {
    display: block;
    border-radius: 1%;
    height: auto; 
    width: auto;
    max-width: 100%;
}

@media (max-width:1000px) {
    #carouselMain{
        display: none;
    }
    #arrowdown{
        display: none;
    }
}


/* Thumnails */
.iconDiv{
 margin-top: 12px;
 margin-bottom: 12PX;

}
.thumbnails{
  width: 309px;
  height: 309px;
  object-fit: cover;
}