.carousel-image-div {
    max-height: 42vh;
}

.carousel-image {
    display: block;
    border-radius: 1%;
    width: auto;
    max-height: 100%;
}

.hidden{
    display: none;
  }
  
  .show{
    display: block;
  }