.carousel-image-div {
  max-height: 42vh;
}

.carousel-image {
  display: block;
  border-radius: 1%;
  width: auto;
  max-height: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#image{
  display: inline-block;
  width: 340px;
}

#map {
  margin: auto;
  width: 400px;
  height: 300px;
}

@media (max-width: 576px) {
  #map {
    width: 350px;
    height: 300px;
  }

  #image{
    width: 126px;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  #map {
    width: 600px;
    height: 400px;
  }
}

@media (min-width: 990px) and (max-width: 1400px) {
  #image{
    width: 126px;
  }
}

.btn-off{
  background-color: #cccccc; /* Grey */
  color: #666666; /* Dark Grey */
  cursor: not-allowed;
}

.btn-off:hover{
  background-color: #cccccc; /* Grey */
  color: #666666; /* Dark Grey */
  cursor: not-allowed;
  cursor: pointer;
}